body {-webkit-text-fill-color: tan}
body {background: url("./images/icon_edited.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;}

